@import '../../styles/variables';

.auth {
  .loginForm {
    padding: 20px;
    width: 300px;
    gap: 20px;

    .title {
      font-family: $kolker-font;
      font-size: 35px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .authInput {
      border: none;
      padding: 10px 0;
      margin-top: 10px;
      background-color: transparent;
      outline: none;
      transition: all ease 0.3s;
      width: 300px;

      &:focus {
        border-bottom-width: 2px;
      }
    }

    .authLinks {
      width: 300px;

      .authButton {
        width: 100%;
        border: none;
        background-color: $button-primary;
        color: $color-primary;
        font-weight: 600;
        font-size: 20px;
        border-radius: 3px;
        padding: 10px 0;

        &:hover {
          background-color: $button-secondary;
          cursor: pointer;
        }
      }

      .authLink {
        color: $color-secondary;
        margin-top: 15px;
        font-size: 14px;
      }
    }

    .authMessage {
      text-align: center;
    }
  }
}
