@import '../../styles/variables';

.auth {
  .loginForm {
    padding: 20px;
    width: 300px;
    gap: 30px;

    .authInputForm {
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        right: 15px;
        font-size: 20px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .authInput {
      border: none;
      border-radius: 5px;
      padding: 15px 0;
      transition: all ease 0.3s;
      width: 300px;
      padding-left: 20px;
      font-weight: 600;

      &:active {
        outline: 1px solid $color-primary;
      }
    }

    .authLinks {
      width: 300px;

      .authButton {
        width: 100%;
        border: none;
        background-color: $button-primary;
        color: $color-primary;
        font-weight: 600;
        font-size: 20px;
        border-radius: 3px;
        padding: 10px 0;

        &:hover {
          background-color: $button-secondary;
          cursor: pointer;
        }
      }

      .authLink {
        color: $color-secondary;
        margin-top: 15px;
        font-size: 14px;
      }
    }

    .authMessage {
      text-align: center;

      p {
        margin-bottom: 20px;
      }

      a {
        padding: 10px 20px;
        font-weight: 600;
        transition: all ease-in 0.3s;
      }
    }
  }
}
