@import './variables';

.dark {
  .text {
    color: $color-primary;
  }

  .background {
    background-color: $gray-900;
  }

  .button {
    background-color: $gray-000;

    svg {
      fill: $yellow-500;
    }
  }

  .authInput {
    background-color: $dark-400;
    color: $white;
  }

  .writeContent .content input {
    color: $white;
  }

  .editor span {
    color: $white;
  }

  .editor span .ql-picker-options {
    background-color: $dark-700;
    z-index: 1;
  }

  .editor span button svg {
    filter: invert(100%);
  }

  .authMessage {
    a {
      box-shadow: 5px 5px 15px -10px $dark-300;
      background-color: $dark-400;
      color: $white;
    }
  }
}

.light {
  .text {
    color: $dark-900;
  }

  .background {
    background-color: $gray-000;
  }

  .button {
    background-color: $dark-700;

    svg {
      fill: $violet-400;
    }
  }

  .authInput {
    background-color: $gray-200;
  }

  .authMessage {
    a {
      box-shadow: 5px 5px 15px -10px $dark-300;
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}

.flex-col {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: $kolker-font;
  font-size: 35px;
  text-transform: uppercase;
}

.readmore {
  border: none;
  color: $red-300;
  background-color: transparent;
  border: 1px solid $red-300;
  width: max-content;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: all ease-in 0.3s;

  &:hover {
    color: $white;
    background-color: $red-300;
    cursor: pointer;
  }
}
