@import './variables';

.dark {
  .text {
    color: $color-primary;
  }

  .background {
    background-color: $gray-900;
  }

  .button {
    background-color: $gray-000;

    svg {
      fill: $yellow-500;
    }
  }

  .authInput {
    background-color: $dark-400;
    color: $white;
  }

  .authMessage {
    a {
      box-shadow: 5px 5px 15px -10px $dark-300;
      background-color: $dark-400;
      color: $white;
    }
  }
}

.light {
  .text {
    color: $dark-900;
  }

  .background {
    background-color: $gray-000;
  }

  .button {
    background-color: $dark-700;

    svg {
      fill: $violet-400;
    }
  }

  .authInput {
    background-color: $gray-200;
  }

  .authMessage {
    a {
      box-shadow: 5px 5px 15px -10px $dark-300;
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}

.flex-col {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: $kolker-font;
  font-size: 35px;
  text-transform: uppercase;
}
