$white: #fff;

$dark-000: #c1c2c5;
$dark-300: #5c5f66;
$dark-700: #1a1b1e;
$dark-900: #101113;

$gray-000: #f8f9fa;
$gray-900: #212529;

$grape-700: #ae3ec9;

$violet-400: #9775fa;

$yellow-500: #fcc419;
$yellow-700: #f59f00;
